<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>User Id</th>
      <th>Shipping postcode</th>
      <th>Shipping address</th>
      <th>Phone</th>
      <th>Stripe Confirmation Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_user_orders.each do |order| %>
      <tr>
        <td><%= order.user.id %></td>
        <td><%= order.shipping_postcode %></td>
        <td><%= order.shipping_address %></td>
        <td><%= order.phone %></td>
        <td><%= order.stripe_confirmation_id %></td>

        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<span>Total: $<%= @order_total %></span>
<!-- ここに金額表示したい -->

<br>

<%= link_to 'New Order', new_order_path %>
