<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :product_user_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :product_title %>
  </div>

  <div class="field">
    <%= form.label :kind %>
    <%= form.text_field :kind, id: :product_kind %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, id: :product_size %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description %>
  </div>

  <!-- <div class="field">
    <%#= form.label :image_data %>
    <%#= form.text_area :image_data, id: :product_image_data %>
  </div> -->

  <div class="field">
      <%= form.label :image %>
      <%= form.hidden_field :image, value: @product.cached_image_data if defined?(@product.cached_image_data) %>
      <%= form.file_field :image %>
    </div>





  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
