<p id="notice"><%= notice %></p>
<div class="container">
<p>
  <strong>User:</strong>
  <%= @product.user.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @product.kind %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image data:</strong>
  <td><img src= "<%= @product.image_url %>" height="100"></td>
</p>

<!-- orders_products -->

<% if current_user.order.present? %>
  <%= link_to 'Create cart and add to cart', orders_path(order: {product_id: @product.id}), method: :post %>
<% else %>
  <%= link_to 'Add to existing cart', order_path(current_user.order.id, order: {product_id: @product.id}), method: :put %>
<% end %>
<br /><br /><br />

  <% @ratings.each do |rating| %>
      <strong><%= rating.user.email %></strong>
      <br />
      <% rating.rating.to_i.times do %>
      <span class = "star">★</span>
        <% end %>


      <p><%= rating.comment %></p>
      <% if user_signed_in? && rating.user == current_user %>
        <p><%= link_to 'Delete', rating_path(rating), method: :delete %></p>
      <% end %>
  <% end %>
  <% if user_signed_in? %>
    <%= render 'ratings/form' %>
  <% end %>
</div>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>


<%= link_to 'New Rating', new_rating_path %>

</div>
